/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2015, 20:09:44
    Author     : gustavo
*/
/*****************************************************************************
**                                                                          **
**                                                                          **
**                          CSS para NAVBAR                                 **
**                                                                          **
**                             INICIO                                       **
*******************************************************************************/
.navbar{
    background: #e4e4e4;
    height: 70px;
}
.navbar li{
    padding-left:  3px;
    width: 100px;
    text-align: center;
}
.navbar li a{
    height: 70px;
    border: 1px solid #245269;
    color: #ddd;
    font-weight: bold;
    background-color: #46b8da;
    transition: all .5s; 
}

.navbar li a:hover{
    background-color: #68dafc;
    color: #aaa;
    border: 1px solid #00d ;
}
.navbar img{
    margin-top: 5px;
    width: 60px;
}
 /*****************************************************************************
**                                                                          **
**                                                                          **
**                          CSS para NAVBAR                                 **
**                                                                          **
**                               FIM                                        **
*******************************************************************************/
 /*****************************************************************************
**                                                                          **
**                                                                          **
**                          CSS para ADDONS                                 **
**                                                                          **
**                               INICIO                                     **
*******************************************************************************/
 .busca-cep:hover{
     cursor: pointer;
 }
  /*****************************************************************************
**                                                                          **
**                                                                          **
**                          CSS para ADDONS                                 **
**                                                                          **
**                               FIM                                        **
*******************************************************************************/
  
/*****************************************************************************
**                                                                          **
**                                                                          **
**                          CSS para AJAX                                   **
**                                                                          **
**                               INICIO                                     **
*******************************************************************************/

.loading{
    display: none;
}
 /*****************************************************************************
**                                                                          **
**                                                                          **
**                          CSS para AJAX                                   **
**                                                                          **
**                               FIM                                         **
*******************************************************************************/