/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2015, 20:09:44
    Author     : gustavo
*/
/*****************************************************************************
**                                                                          **
**                                                                          **
**                          CSS para NAVBAR                                 **
**                                                                          **
**                             INICIO                                       **
*******************************************************************************/
.navbar{
    background: #e4e4e4;
    height: 70px;
    padding: 0px !important;
}
.navbar li{
    padding-left:  3px;
    width: 100px;
    text-align: center;
}
.navbar li a{
    height: 70px;
    border: none;
    color: #ddd;
    font-weight: bold;
    background-color: #0099cc;
    transition: all .5s; 
}
.navbar li a [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 30px;
}

.navbar li a:hover{
    background-color: #ddd;
    color: #0099cc;
    border: none ;
}
.navbar img{
    margin-top: 5px;
    width: 60px;
}
/*****************************************************************************
**                                                                          **
**                                                                          **
**                          CSS para NAVBAR                                 **
**                                                                          **
**                               FIM                                        **
*******************************************************************************/

table thead th {
    color: white !important;
    background-color: #0099cc !important;
}
table thead th a {
    color: white !important;
    background-color: #0099cc !important;
    text-decoration: underline;
}

.alert {
    position: absolute;
    min-width: 250px;
    max-width: 380px;
    right: 0px;
    margin: 10px;
}
.alert button{
    position: absolute;
    top: 3px;
    right: 3px;
}

